body {
	width: 600px;
	margin: 0 auto 0 auto;
}

.text {
	position: absolute;
	color: #43D1AC;
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 3px;
	line-height: 1.8;
}