body {
	margin: 0 auto 0 auto;
	width: 50%;
	background-color: red;
}	
/*
#arte{
	margin: 0 auto 0 auto;
	width: 50%;
	background-color: white;
}
*/
	.st0{fill:#FF0000;}
	.st1{fill:#070707;}
	.st2{fill:#FFFFFF;}
	.st3{fill:#FCDB0A;}
.spiral2{
	fill: white;
	transform-origin: center center;
	-moz-transform-origin: center center;
	animation-delay: 2s;	
}
.spiral{
	fill: white;
	transform-origin: center center;
	-moz-transform-origin: center center;
}
.dientes1{
	fill: white;
	animation-delay: 2s;
	transform-origin: center center;
	-moz-transform-origin: center center;
}
.eyes{
	fill: white;
	animation-delay: 4s;
}
.black{
	animation-delay: 4s;

}
.yellow{
	transform-origin: top top;
	-moz-transform-origin: left left;
	fill: yellow;
	animation-delay: 4s;
}
.yellow1{
	transform-origin: center center;
	-moz-transform-origin: center center;
	fill: yellow;
	animation-delay: 2s;
}
.dientes{
	transform-origin: top top;
	-moz-transform-origin: right right;
	animation-delay: 4s;
}
.eyes1{
	transform-origin: center center;
	-moz-transform-origin: center center;
	animation-delay: 1s;
}